@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&family=Roboto+Condensed:wght@300&display=swap');

body, html,* {
    box-sizing: border-box;
    margin: 0;
    background-color: black;
    font-family: 'Pixelify Sans', sans-serif;
}

html {
    min-width: 400px;
}

button {
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    color: yellow;
    text-align: center;
    margin: 2rem 1rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
}

.main-game-window {
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
    overflow: hidden;
    border: 2px solid black;
    box-sizing: content-box;
}

.grid div,
.mini-grid div {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    background-color: #131313;
}

.grid.paused {
    border: 2px yellow dotted;
    position: relative;
}

.grid.paused:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'PAUSED';
    width: 60px;
    height: 30px;
    padding: 0.5rem 1rem;
    line-height: 30px;
    color: yellow;
    background-color: #131313;
    border: 2px solid yellow;
    animation: floating 3s ease-in-out infinite ;
}

.grid.game-over {
    border: 2px yellow dotted;
    position: relative;
}

.grid.game-over:after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: 'GAME OVER';
    width: 85px;
    height: 30px;
    padding: 0.5rem 1rem;
    line-height: 30px;
    color: yellow;
    background-color: #131313;
    border: 2px solid yellow;
}

.game-info {
    color: yellow;
    margin: 0 1rem;
    font-size: 1.2rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.game-info .game-info__controls button {
    color: yellow;
    border: 2px dotted yellow;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    font-weight: 700;
    transition: all 100ms ease-in-out;
}

.game-info .game-info__controls button:hover {
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
}

.game-info .game-info__controls button:focus {
    outline: none;
}

.game-info .mini-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 80px;
    background-color: black;
}

.game-info__hints {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
}

.game-info__hints .left-column,
.game-info__hints .right-column {
    display: flex;
    flex-flow: column;
}

.game-info__hints .left-column {
    text-align: right;
    margin-right: 5px;
}

.control-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.circle-buttons {
    position: relative;
    width: 100px;
    height: 100px;
}

.circle-buttons .control-button {
    position: absolute;
}

.circle-buttons .control-button:nth-child(1) {
    top: 0;
    left: calc(100px/2 - 35px/2);
}

.circle-buttons .control-button:nth-child(2) {
    left: 0;
    top: calc(100px/2 - 35px/2);
}

.circle-buttons .control-button:nth-child(3) {
    right: 0;
    top: calc(100px/2 - 35px/2);
}

.circle-buttons .control-button:nth-child(4) {
    bottom: 0;
    left: calc(100px/2 - 35px/2);
}

.control-button {
    border: none;
    background-color: yellow;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.control-button:hover {
    scale: 1.2;
    background-color: black;
    color: yellow
}

.control-button:not(.drop-btn) {
    width: 35px;
    height: 35px;
    background-size: 15px 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.control-button.drop-btn {
    width: 50px;
    height: 50px;
    font-weight: 700;
}

.control-button.left-btn,
.control-button.right-btn {
    background-image: url('./assets/icons8-up-arrow-50.png');
}

.control-button.left-btn:hover,
.control-button.right-btn:hover {
    background-image: url('./assets/icons8-up-arrow-50-yellow.png');
}

.control-button.left-btn {
    rotate: 270deg;
}

.control-button.right-btn {
    rotate: 90deg;
}

.control-button.rotate-btn {
    background-image: url('./assets/icons8-rotate-50.png');
}

.control-button.rotate-btn:hover {
    background-image: url('./assets/icons8-rotate-50-yellow.png');
}

.control-button.down-btn {
    background-image: url('./assets/icons8-double-down-50.png');
}

.control-button.down-btn:hover {
    background-image: url('./assets/icons8-double-down-50-yellow.png');
}

@keyframes floating {
    0% {
        transform: translate(-50%, -40%);
    } 50% {
        transform: translate(-50%, -60%);
    } 100% {
        transform: translate(-50%, -40%);
    }
}